.row{
    height: 60px;
}
nav{
    background-color: aqua;
}
nav h1{
    text-align: center;
}
.left{
    background-color: black;
}
.right{
    background-color: blue;
}
.footer{
    background-color: brown;
}