.jumbotron{
    background-color: coral;
}
.row{ 
    height: 100px;
}
nav{
    background-color: aqua;
}
nav h1{
    text-align: center;
}
.left{
    background-color: black;
}
.right{
    background-color: blue;
}
.footer{
    background-color: brown;
}
.cont1{ 
    height: 600px;
}
.short{
    height: 200px;
}
.medium{
    height: 400px
}
.tall{
    height: 600px;
}